<h2>Show All Surveys</h2><br>
<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
        <tr>
            <th class="mdl-data-table__cell--non-numeric">ID</th>
            <th class="mdl-data-table__cell--non-numeric">Title</th>
            <th class="mdl-data-table__cell--non-numeric">Description</th>
            <th class="mdl-data-table__cell--non-numeric">Is Active</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @surveys.each do |survey| %>
        <tr>
            <td class="mdl-data-table__cell--non-numeric"><%= survey.id %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= survey.title %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= survey.description %></td>
            <td class="mdl-data-table__cell--non-numeric"><%= survey.is_active %></td>
            <td class="mdl-data-table__cell--non-numeric">
                <%= link_to 'Show', survey_path(survey) %></td>

            <td class="mdl-data-table__cell--non-numeric">
                <%= link_to 'Edit', edit_survey_path(survey) %></td>
        </tr>
        <% end %>
    </tbody>
</table><br>
<div>
    <%= button_to 'New Survey', new_survey_path, :class => "mdl-button mdl-js-button mdl-button--accent", :method => :get %>
    <%= button_to 'Back', user_results_path, :class => "mdl-button mdl-js-button mdl-button--accent", :method => :get %>
</div>
