<table mat-table [dataSource]="surveys" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>

  <ng-container matColumnDef="activeFrom">
    <th mat-header-cell *matHeaderCellDef> Active From </th>
    <td mat-cell *matCellDef="let element"> {{ element.intervals[0].start_time | date: 'dd/MM/yyyy' }} </td>
  </ng-container>

  <ng-container matColumnDef="activeUntil">
    <th mat-header-cell *matHeaderCellDef> Active Until </th>
    <td mat-cell *matCellDef="let element"> {{ element.intervals[0].end_time | date: 'dd/MM/yyyy' }} </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let survey">
      <a *ngIf="!isActive(survey)" mat-button [routerLink]="['/survey/', survey.id, 'edit']">Edit</a>
    </td>
  </ng-container>

  <ng-container matColumnDef="show">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let survey">
        <a mat-button [routerLink]="['/survey/', survey.id]">Show</a>
      </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
