<div class="center-content">
  <mat-card>
    <mat-card-title>Survey Display</mat-card-title><br>
    <mat-card-content>
      <app-survey-form *ngIf="survey" [survey]="survey" [disabled]=true></app-survey-form>
      <app-questions-show *ngIf="survey" [survey]="survey"></app-questions-show>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onNewQuestion()" [disabled]="surveyIsActive()">New Question</button>
      <button mat-raised-button color="primary" (click)="onViewSurveyResults()" [disabled]="!surveyIsActive()">View Survey Results</button>
      <button mat-raised-button color="primary" (click)="onSurveyJsonData()">Console.Log Survey Json Data</button>
      <button mat-raised-button (click)="onBack()">Back</button>
    </mat-card-actions>
  </mat-card>
</div>
