.center-content {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

td {
  text-align: center;
  vertical-align:top
}

td > * {
  display: inline-block;
  max-height: 400px;
  overflow-y: auto;
}

