<h3>Survey's Questions</h3>
<table mat-table [dataSource]="questions" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let question"> {{question.id}} </td>
  </ng-container>

  <ng-container matColumnDef="content">
    <th mat-header-cell *matHeaderCellDef> Content </th>
    <td mat-cell *matCellDef="let question"> {{question.content}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

</table>
